.section
{
    position: relative;
    background-color: #E8AA0C;
    height: 300px;
}
.list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    height: fit-content;
}
.footerBox{
    height: 150px;
    width: 20%;
    margin-left: 1%;
    margin-right: 5%;
}
.boxTitle{
    font-weight: 700;
    font-size: 25px;
    color: #222222;
    padding-bottom: 10px;
}
.boxDescription{
    font-weight: 500;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.5);
    padding-bottom: 10px;
}
.boxSubTitle{
    font-weight: 800;
    font-size: 16px;
    color: rgba(255,255,255,0.5) ;
    text-transform:uppercase;
    padding-bottom: 10px;
}

.footerBox .Logo{
    width: 200px;
    height: auto;
    display: flex;
    justify-self: center;
    margin: auto;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .section{
        height: 400px;
    }
    .list{
        display:flex;
        flex-wrap: wrap-reverse;
    }
    .footerBox{
        width: 300px;
        margin-left: 5%;
        margin-right: 5%;
        height: fit-content;
    }
    .footerBox .Logo{
        width: 80px;
    }
}
@media only screen and (max-width: 800px) 
{
    .section{
        height: 600px;
    }
    .footerBox{
        width: 100%;
        padding: 0 20%;
        margin: 10px 0 ;
    }
}
@media only screen and (max-width: 430px) 
{
    .section{
        height: 650px;
    }
}